[submodule "glibc_version_header"]
	path = glibc_version_header
	url = https://github.com/hzqst/glibc_version_header
[submodule "thirdparty/bullet3_fork"]
	path = thirdparty/bullet3_fork
	url = https://github.com/hzqst/bullet3
[submodule "thirdparty/capstone_fork"]
	path = thirdparty/capstone_fork
	url = https://github.com/hzqst/capstone
[submodule "thirdparty/procmap_fork"]
	path = thirdparty/procmap_fork
	url = https://github.com/hzqst/procmap
