name: windows

on:
  push:
    tags:
      - "v*"
  pull_request:
    tags:
      - "v*"

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: .

  # Configuration type to build.
  # You can convert this to a build matrix if you need coverage of multiple configuration types.
  # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
  BUILD_CONFIGURATION: Release

jobs:
  build:

    runs-on: windows-2019
    if: github.repository == 'hzqst/metamod-fallguys'

    steps:
      - uses: hzqst/checkout@v2.3.4

      - name: Build all
        working-directory: ${{env.GITHUB_WORKSPACE}}
        run: |
          cd scripts
          call build-all-win32.bat

      - name: Remove placeholder
        working-directory: ${{env.GITHUB_WORKSPACE}}
        run: del "build\addons\metamod\dlls\.placeholder"
        shell: cmd

      - name: Archive the build directory 
        uses: thedoctor0/zip-release@main
        with:
          type: 'zip'
          filename: 'metamod-fallguys-windows-x86.zip'
          path: 'build'
          exclusions: '.placeholder'

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name: metamod-fallguys-${{ github.ref }}
          files: |
            metamod-fallguys-windows-x86.zip